<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>E-commerce</title>
 <link rel="stylesheet" href="style.css">
</head>
<body>
 <h1>Bem vindo ao nosso e-commerce</h1>
 <p>Confira nossos produtos em destaque</p>

 <div>
  <h3>Produto 01</h3>
  <p>R$89,99</p>
  <a href="/anuncios/compra">Comprar</a>
  <a href="/anuncios/favoritos">Favoritar</a>
  <a href="/anuncios/pergunta">Perguntar</a>
 </div>

 <div>
  <h3>Produto 02</h3>
  <p>R$89,99</p>
  <a href="/anuncios/compra">Comprar</a>
  <a href="/anuncios/favoritos">Favoritar</a>
  <a href="/anuncios/pergunta">Perguntar</a>
 </div>
</body>
</html>