<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>E-commerce - Início</title>
 <link rel="stylesheet" href="{{url_for('static', filename="style.css")}}">
</head>
<body>
 <h1>Bem vindo(a) ao nosso e-commerce</h1>
 <nav>
  <a href="{{url_for("usuario_list")}}">Usuários</a>
  <a href="{{url_for("categoria_list")}}">Categorias</a>
  <a href="{{url_for("anuncio_list")}}">Anúncios / Compras / Favoritos</a>
  <a href="{{urlo_for("pergunta_list")}}">Perguntas e Respostas</a>
  <a href="{{url_for("rel_vendas")}}">Relatório de Vendas </a>
  <a href="{{url_for("rel_compras")}}">Relatório de Compras</a>
 </nav>

 {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
   {% for m in messages %} <li> {{ m }} </li> {% endfor %}
  </ul>
  {% endif %}
 {% endwith %}
</body>
</html>