<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Relatório de Vendas</title>
</head>
<body>
 <h1>Relatório de Vendas</h1>
 <table border="1">
  <tr>
   <th>Produto</th>
   <th>Preço</th>
   <th>Data</th>
  </tr>

  <tr>
   <td>Produto 1</td>
   <td>99,90</td>
   <td>06/08/2025</td>
  </tr>

  <tr>
   <td>Produto 2</td>
   <td>99,90</td>
   <td>06/08/2025</td>
  </tr>

 </table>

</body>
</html>