<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>{{titulo}}</title>
</head>
<body>
 <h1>{{titulo}}</h1>
 <form action="/cad/caduser" method="POST">
  <label>Nome:</label>
  <input type="text" name="nome"> <br>

  <label>E-mail</label>
  <input type="email" name="email"> <br>

  <label>Senha</label>
  <input type="password" name="senha"> <br>

  <button type="submit">Cadastrar</button>
 </form>
</body>
</html>